.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.game__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
}


@media (min-width: 800px) {
    .game__container {
    width: 80vw;
      flex-direction: row;
    }
}
  