// @import '../styles/variables.scss';

.letter {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: green;
    // background-color: $letter;
}

.letter__content {
    height: 25px;
    border-bottom: solid white 1px;
    margin-bottom: 5px;    
}

.letter__content--failed-letter {
    background-color: red;
}