@import '../../assets/styles/mainStyles';

.letter {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 8px;
    margin: 5px;
    color: #203a43;
    background-color: $guessedLetter;
}

.letter__content {
    height: 25px;
    border-bottom: solid $darkGrey 1px;
    margin-bottom: 5px;    
}

.letter__content--failed-letter {
    background-color: $buttonColor;
}